.list {
    list-style:none;
    margin: 0;
    padding: 0;
    width: 1400px;
    border: 1px solid #000;
    display: flex;
    gap: 20px;
    flex-wrap: wrap-reverse;
    justify-content:center;
}
.item {
    width: 300px;
    border: 1px solid #000;
    height: 300px;
   

}